<h1>Welcome to TacoStand <small>Where we stand for tacos!</small></h1>

<h2>Tacos</h2>

<%= link_to 'New Taco', new_taco_path %>

<ul>
  <% @tacos.each do |taco| %>
    <li><%= link_to taco.name, taco_path(id: taco.id) %></li>
  <% end %>
</ul>
