<h1><%= @taco.name %></h1>

<dl class="">
  <dt>Price</dt>
  <dd><%= number_to_currency @taco.price %></dd>
</dl>

<%= link_to "Delete Taco", taco_path(id: @taco.id), method: :delete %>


<%= image_tag @taco.photo_url %>
