<h1>TacoStand - Password Reset Request</h1>

<p>
  Hi <strong><%= @user.username %></strong>,
</p>

<p>
  We received a request to reset your password. If you did not make this request, you can ignore this email.
</p>

<p>
  Otherwise, click the link below:
</p>

<%= link_to 'Reset Your Password', reset_password_url(token: @user.reset_password_token) %>

<p>
  If you have trouble, copy/paste this link into your browser bar. Don't go to google.

  <br>
  <%= reset_password_url(token: @user.reset_password_token) %>
</p>
